BROKER_SERVERS=broker_server_separated,by_a_coma_no_spaces
AWS_ACCESS_KEY_ID=aws_access_key_for_an_iam_user_with_permissions
AWS_SECRET_ACCESS_KEY=aws_secret_key_for_an_iam_user_with_permissions
AWS_REGION=us-east-1